/* Home Main */
.home-layout {
  display: grid;
  grid-template-rows: auto 60vh auto 5rem;
  grid-template-areas:
    "nav"
    "hero"
    "hm"
    "hft";
}

.home-main {
  grid-area: hm;
}

/* Hero */
.hero {
  grid-area: hero;
  width: 100%;
  background: #979F51;
}

.hero__text,
.hero__h1 {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 3rem;
  white-space: nowrap;
  color: white;
}

.hero__text {
  font-family: "Dancing Script";
}

.hero__h1 {
  top: 30%;
  left: 50%;
}


/* Post Card Container */
.post-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
}

/* Post Cards */
.post-card {
  width: 100%;
  background: white;
}

.post-card__text {
  line-height: 1.6rem;
  padding: 0 2rem;
  font-size: 1rem;
}

.post-card:last-child {
  border: none;
}

.post-read-more {
  margin: 4rem 0 4rem 0;
  text-align: center;
}

.post-read-more__btn {
  background-color: #122440;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
}

/* Header */
.post-card-header__heading {
  font: bold 1.25rem/1.6rem "Wix Madefor Display", sans-serif;
  margin: 0;
}

.post-card-header__date {
  display: block;
  line-height: 1.6rem;
  font-size: 0.75rem;
}

.post-card-header__details {
  line-height: 0;
  margin: 4rem 2rem 3rem;
}

/* Post Figure */
.post-card-header__figure {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.post-card-header__figure-img {
  display: block;
  width: 100%;
  aspect-ratio: 3/2;
}

.post-card-header__figure-caption {
  display: none;
  font-size: 1rem;
}

/* Home Footer*/
.home-footer {
  grid-area: hft;
  background-color: #EFEFEF;
  color: #fff;
  padding: 0.625rem;
}

.home-footer-socials {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  justify-content: flex-end;
  margin-right: 3.125rem;
}

.home-footer-socials i {
  color: #317578;
}