/* Home Main */
.home-layout {
  display: grid;
  grid-template-rows: 5rem auto 5rem;
  grid-template-areas:
    "nav"
    "hm"
    "hft";
}

.home-main {
  grid-area: hm;
  padding: 5rem 7rem;
}

/* Post Card Container */
/* Post Cards */
.post-card {
  padding: 5rem 0;
  width: 37.5rem;
  border-bottom: 0.0625rem solid #d3d3d3;
}

.post-card__text {
  line-height: 1.9rem;
  padding: 1rem 0 3rem;
  font-size: 1.3rem;
  text-align: justify;
}

.post-card:last-child {
  border: none;
}

.post-read-more {
  margin: 1rem 0 4rem 0;
  text-align: center;
}

.post-read-more__btn {
  background-color: #122440;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

/* Header */
.post-card-header__h1 {
  font: bold 2rem/2.5rem "Wix Madefor Display", sans-serif;
  text-align: left;
  margin: 1rem 0 0 0;
}

.post-card-header__date {
  display: block;
  margin-bottom: 2rem;
  text-align: left;
  line-height: 2.5rem;
}

/* Post Figure */
.post-card-header__figure {
  padding: 0;
  margin: 0;
}

.post-card-header__figure-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Home Footer*/
.home-footer {
  grid-area: hft;
  background-color: #EFEFEF;
  color: #fff;
  padding: 0.625rem;
}

.home-footer-socials {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  justify-content: flex-end;
  margin-right: 3.125rem;
}

.home-footer-socials i {
  color: #317578;
}



