.fa-read-more-icon {
  color: #fff;
}

.home-main .fa {
  color: #57B5F4;
}

.home-main {
  padding: 5rem 0;
}

.blog-card {
  width: 37.5rem;
  border-bottom: 0.0625rem solid #d3d3d3;
}

.blog-card p {
  font-size: 1.3rem;
}

.blog-card:last-child {
  border: none;
}

header h1 {
  font: bold 2rem/2.5rem "Wix Madefor Display", sans-serif;
  text-align: left;
  margin: 1rem 0 0 0;
}

.home-date {
  display: block;
  margin-bottom: 2rem;
  text-align: left;
  line-height: 2.5rem;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-img img {
  width: 100%;
  height: 100%;
}

.card-text {
  padding: 1rem;
}

.read-more {
  margin: 1rem 0 4rem 0;
  text-align: center;
}

.read-more-btn {
  background-color: #122440;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}