/* Home Main */
.home-layout {
  display: grid;
  grid-template-rows: 5rem 40vh auto 5rem;
  grid-template-areas:
    "nav"
    "hero"
    "hm"
    "hft";
    background: rgb(204, 200, 200);
}

.home-main {
  grid-area: hm;
}

/* Hero */
.hero {
  grid-area: hero;
  width: 100%;
}

.hero__text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff66;
  padding: 1rem 3rem;
  white-space: nowrap;
}


/* Post Card Container */
.post-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* Post Cards */
.post-card {
  width: 100%;
  background: white;
  padding: 2rem 2rem 0;
  margin: 0 1.5rem 2rem;
}

.post-card__text {
  line-height: 1.6rem;
  padding: 1rem 0 3rem;
  font-size: 1rem;
  text-align: center;
}

.post-card:last-child {
  border: none;
}

.post-read-more {
  margin: 1rem 0 4rem 0;
  text-align: center;
}

.post-read-more__btn {
  background-color: #122440;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

/* Header */
.post-card-header__h1 {
  font: bold 2rem/2.5rem "Wix Madefor Display", sans-serif;
  text-align: left;
  margin: 1rem 0 0 0;
}

.post-card-header__date {
  display: block;
  margin-bottom: 2rem;
  text-align: left;
  line-height: 2.5rem;
}

/* Post Figure */
.post-card-header__figure {
  padding: 0;
  margin: 0;
}

.post-card-header__figure-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-card-header__figure-caption {
  font-size: 1rem;
}

/* Home Footer*/
.home-footer {
  grid-area: hft;
  background-color: #EFEFEF;
  color: #fff;
  padding: 0.625rem;
}

.home-footer-socials {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  justify-content: flex-end;
  margin-right: 3.125rem;
}

.home-footer-socials i {
  color: #317578;
}



