
/*Aside*/
.post-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cbc8c1;
}


.post-about {
  padding: 2rem;
  margin: 7rem 3rem;
  background-color:#ffffff54;
  text-align: center;
  width: 60%;
}

.separator {
  margin: 2rem 0;
  height: 1px;
  width: 100px;
  background-color: #000;
}

.post-about-img {
  display: block;
  margin: 1rem auto;
  width: 8.125rem;
  border-radius: 50%;
}

.post-archives {
  margin: 7rem;
  padding: 2rem;
  background-color: #ffffff54;
}

.post-archives a {
  color: #000;
}

.post-archives h2,
.post-about h2 {
  font: 2rem "Dancing Script", cursive;
  text-align: center;
}

.post-date-author {
  margin-bottom: 1rem;
}