/* Main */
.post-main {
  display: grid;
  padding: 3rem;
  background-color: #ff00;
}

/* Post */
/* Header */

.post-header__h1 {
  font: 700 2.5rem/3rem "Wix Madefor Display", sans-serif;
  margin-bottom: 0;
  text-align: left;
}

.post-header__details {
  margin: 0;
  font-size: 0.9rem;
}

.post-figure-img {
  height: auto;
  width: 100%;
  margin: 2rem 0 0 0;
}

.post-figure__figcaption {
margin-bottom: 2rem;
}

/* Post Body */
/* Text */
.post__h2,
.post__h3 {
  font-family: Quicksand, sans-serif;
  padding: 0.5rem;
}

.post__h2 {
  background-color: #568e91b7; 
}

.post__h3 {
  background-color: #EFEFEF;
}

.post__text {
  font-size: 1.1rem;
  text-align: justify;
}

.post__text--quote {
  font: italic 2rem/2.8rem;
  color: #9b570c;
}

.post__text--underline {
  text-decoration: underline;
}
.post__text--bold {
  font-weight: bold;
}

.post__text--italic {
  font-style: italic;
}

/* Components */
.post__link {
  color: #995b16;
  text-decoration: underline #568e91;
}

/* Post Socials */
.post__socials-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.post__socials-menu .fa {
  color: #41bec5;
}

.post__socials-menu .fa-print {
  color: #013436;
}

.post .fa-arrow-circle-left,
.post .fa-arrow-circle-right {
  color: #cf7b1e;
}

.btn {
  font-size: 1rem;
}

/* Post Aside */
.post-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cbc8c1;
}

.separator {
  margin: 2rem 0;
  height: 1px;
  width: 100px;
  background-color: #000;
}

/* About Section */
.post-aside__about {
  padding: 2rem;
  margin: 7rem 3rem;
  background-color:#ffffff54;
  text-align: center;
  width: 60%;
}

/* Text */
.post-aside__h2 {
  font: 2rem "Dancing Script", cursive;
  text-align: center;
}

/* Image */
.post-aside__about-img {
  display: block;
  margin: 1rem auto;
  width: 8.125rem;
  border-radius: 50%;
}

/* Archives Section */
.post-aside__archives {
  margin: 7rem;
  padding: 2rem;
  background-color: #ffffff54;
}

.post-aside__archives-menu-link {
  color: #000;
}

/* Footer */
.post-footer {
  background-color: #EFEFEF;
  padding: 1rem 0;
}

/* Socials */
.post-footer__socials-menu {
  background-color: #EFEFEF;
  min-height: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1.5rem;
  justify-content: center;
  padding: 0 0 2rem 0;
}

.post-footer__socials-menu-item {
  background-color: #fff;
  border-radius: 2rem;
  padding: 1rem;
  line-height: 1rem;
}

.post-footer i {
color: #41bec5;
}

/* Media Queries */
/* Small Screens */
.post-layout {
  display: grid;
  grid-template-rows: 5rem auto auto 5rem;
  grid-template-areas:
    "nav"
    "pm"
    "pa"
    "pft";
}

.nav {
  grid-area: nav;
}

.post-main {
  grid-area: pm;
  background-color: #ffffff00;
  justify-content: center;
}

.post-aside {
  grid-area: pa;
}

.post-aside__archives {
  text-align: center;
  width: 60%;
}

.post-aside__archives-menu {
  display: inline-block;
  text-align: left;
}

.post-footer {
  grid-area: pft;
}

.post {
  max-width: 37.5rem;
}

/* Medium Screens */
@media (min-width:481px) and (max-width:1024px) {
 
  .post-layout {
    display: grid;
    grid-template-rows: 5rem auto 5rem;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "nav nav"
      "pm pa"
      "pft pft";
  }

  .post-main {
    justify-content: center;
  }

  .post-aside {
    margin: 0;
    padding: 5rem 3rem;
    min-width: 10rem;
    background-color: #cbc8c1;
  }

  .post-about {
    margin: 0;
    padding: 1rem;
    text-align: center;
    background-color: #ffffff54;
  }

  .post-archives {
    background-color: #ffffff54;
    padding: 1rem;
    margin: 0;
  }

  .separator {
    margin: 5rem;
  }

  article {
    max-width: 37.5rem;
  }
}

/* Large Screens */
@media (min-width:1025px) {
  .post-layout {
    display: grid;
    grid-template-rows: 5rem auto 5rem;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "nav nav"
      "pm pa"
      "pft pft";
  }

  .post-main {
    justify-content: center;
  }

  .post-aside {
    margin: 0;
    padding: 5rem 3rem;
    background-color: #cbc8c1;
  }

  .post-about {
    margin: 0;
    padding: 1rem;
    text-align: center;
    background-color: #ffffff54;
  }

  .post-archives {
    background-color: #ffffff54;
    padding: 1rem;
    margin: 0;
  }

  .separator {
    margin: 5rem;
  }

  article {
    max-width: 37.5rem;
  }
}
