/* Layout */
.post-layout {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  "nav"
  "pm"
  "pa"
  "ft";
}

/* Main */
.post-main {
  grid-area: pm;
  justify-content: center;
  display: grid;
  padding: 3rem;
  background-color: #ff00;
}

/* Header */

.post-header__h1 {
  white-space: nowrap;
  font: 700 2rem/3rem "Wix Madefor Display", sans-serif;
  margin-bottom: 0;
  text-align: left;
}

.post-header__details {
  margin: 0;
  font-size: 0.9rem;
}

.post-figure {
  margin: 3rem 0;
  width: 100%;
}

.post-figure__figcaption {
  display: none;
}

.post-figure-img {
  display: block;
  width: 100%;
  aspect-ratio: 3/2;
}

.post-figure__figcaption {
  margin-bottom: 2rem;
}

/* Post */
.post {
  max-width: 75%;
  margin: auto;
}

/* Post Body */
/* Text */
.post__h2,
.post__h3 {
  font-family: Quicksand, sans-serif;
  padding: 0.5rem;
}

.post__h2 {
  background-color: #568e91b7;
  font-size: 1.25rem;
}

.post__h3 {
  background-color: #EFEFEF;
  font-size: 1rem;
}

.post__text {
  font-size: 0.875rem;
  text-align: justify;
}

.post__text--quote {
  font: italic 2rem/2.8rem;
  color: #9b570c;
}

.post__text--underline {
  text-decoration: underline;
}

.post__text--bold {
  font-weight: bold;
}

.post__text--italic {
  font-style: italic;
}

/* Components */
.post__link {
  color: #995b16;
  text-decoration: underline #568e91;
}

/* Post Socials */
.post__socials-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: nowrap;
  align-items: baseline;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.post__socials-menu-item-text {
  font: 1.2rem "Dancing Script", cursive;
}

.post__socials-menu-item-text span {
  font-family: Quicksand, sans-serif;
  padding-left: 0.3rem;
}


.post__socials-menu .fa-brands {
  color: #41bec5;

}

.btn__print {
  border: none;
  background: none;
  font: 1.2rem "Dancing Script", cursive;
}

.btn__print .fa-print {
  color: #013436;
  padding-left: 0.2rem;
}

.post__socials-menu i {
  border: none;
}

.btn {
  font-size: 1rem;
}

.btn__previous,
.btn__next {
  border: rgb(36, 32, 32);
  padding: 0.8rem;
  font-size: 0.925rem;
}

.post__btn-container {
  display: flex;
  justify-content: space-between;
}

/* Post Aside */
.post-aside {
  grid-area: pa;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid lightgray;
}

.separator {
  margin: 2rem 0;
  height: 1px;
  width: 100px;
  background-color: #000;
}

/* About Section */
.post-aside__about {
  min-width: 30%;
  max-width: 45%;
  padding: 1rem;
  margin: 7rem 3rem;
  background: #ffffff54;
  text-align: center;
  box-shadow: 0 8px 40px #00000018;
}

.post-aside__socials-list {
  font-size: 2rem;
}

.post-aside__socials-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.post-aside__h2,
.post-aside__text {
  margin: 0;
  padding: 0;
}

.post-aside__h2 {
  font-weight: bold;
}

.post-aside__text {
  font-variant: small-caps;
}

.profile {
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 3rem;
}


/* Text */
.post-aside__h2 {
  font: 1.5rem sans-serif;
  text-align: center;
}

/* Image */
.post-aside__about-img {
  display: block;
  margin: 1rem auto;
  width: 8rem;
  border-radius: 50%;
}

/* Archives Section */
.post-aside__archives {
  margin: 7rem 0;
  padding: 2rem;
  background-color: #ffffff54;
  white-space: nowrap;
}

.post-aside__archives-menu-link {
  color: #000;
}

.post-aside__archives {
  text-align: center;
  width: fit-content;
}

.post-aside__archives-menu {
  display: inline-block;
  text-align: left;
}

/* Media Queries */
/* Medium Screens */
@media screen and (min-width: 769px) {
  .post-layout {
    display: grid;
    justify-content: stretch;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "nav"
    "pm"
    "pa"
    "ft";
  }

  .mobile-nav {
    display: none;
  }
}
